@inject IProductService ProductService
@implements IDisposable

@if (ProductService.Products.Count == 0)
{
    <p>@ProductService.Message</p>
}
else
{
    <div class="product-list">
        @foreach (var product in ProductService.Products)
        {
            <div class="product-item">
                <a href="product/@product.Id">
                    <img src="@product.ImageUrl" alt="@product.Name" />
                    <h3><a href="product/@product.Id">@product.Name</a></h3>
                </a>
                <p>@product.Description</p>
                <p>@GetPriceText(product)</p>
            </div>
        }
    </div>

}


@code {
    protected override void OnParametersSet()
    {
        ProductService.ProductsChanged += StateHasChanged;
    }

    public void Dispose()
    {
        ProductService.ProductsChanged -= StateHasChanged;
    }

    private string GetPriceText(Product product)
    {
        var variants = product.Variants;

        if (variants.Count == 0)
        {
            return "The product is not available.";
        }
        else if (variants.Count == 1)
        {
            return $"Price: € {variants[0].Price}";
        }

        decimal minPrice = variants.Min(p => p.Price);
        return $"Starting at: € {minPrice}";
    }
}
