@inject HttpClient Http

@if (_products.Count == 0)
{
    <p>No products...</p>
}
else
{
    <div class="product-list">
        @foreach (var product in _products)
        {
            <div class="product-item">
                <a href="#">
                    <img src="@product.ImageUrl" alt="@product.Name" />
                    <h3><a href="#">@product.Name</a></h3>
                </a>
                <p>@product.Description</p>
                <p>Price: € @product.Price</p>
            </div>
        }
    </div>

}


@code {
    private static List<Product> _products = new List<Product>();

    protected override async Task OnParametersSetAsync()
    {
        var result = await Http.GetFromJsonAsync<ServiceResponse<List<Product>>>("api/product");
        if (result is {Data: { } })
        {
            _products = result.Data;
        }
    }
}
