@inject IProductService Service

@if (Service.Products.Count == 0)
{
    <p>Loading...</p>
}
else
{
    <div class="product-list">
        @foreach (var product in Service.Products)
        {
            <div class="product-item">
                <a href="#">
                    <img src="@product.ImageUrl" alt="@product.Name" />
                    <h3><a href="#">@product.Name</a></h3>
                </a>
                <p>@product.Description</p>
                <p>Price: € @product.Price</p>
            </div>
        }
    </div>

}


@code {
    protected override async Task OnParametersSetAsync()
    {
        await Service.GetProductAsync();
    }
}
